.about {
	position: fixed;
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.background {
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
	}

	.about-body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		max-width: 400px;
		width: 100%;
		gap: 24px;
		text-align: justify;
		background: var(--darker);
		padding: 36px 48px;
		border-radius: 8px;
		z-index: 1;

		a {
			color: var(--cyan);
		}

		.game-info {
			display: flex;
			flex-direction: column;
			gap: 8px;

			ul {
				margin: 10px 0 0;
			}
		}

		button {
			width: 100%;
		}
	}

	// Mobile styles
	@media (max-width: 600px) {
		.about {
			position: fixed;
		}

		.about-body {
			padding: 20px;
			border-radius: 0;
			box-sizing: border-box;
			overflow-y: auto;
			text-align: left;
		}
	}
}
