@import url("./colors.css");

:root {
	font-synthesis: none;
	font-optical-sizing: auto;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: #333;
	color: #eee;

	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

p,
h1,
h2,
h3 {
	margin: 0;
}
