@import url('../../colors.css');

.calculator {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: fit-content;

	.display {
		font-family: 'Jetbrains Mono', monospace;
		max-width: 400px;
		display: inline-block;
		white-space: nowrap;
		overflow-x: auto;
		background: var(--darker);
		padding: 8px 16px;
		box-sizing: border-box;
		text-align: right;
		border-radius: 4px;
		font-size: 28pt;
	}

	.buttons {
		display: flex;
		flex-direction: row;
		gap: 8px;

		.base-buttons,
		.extra-buttons {
			display: grid;
			gap: 8px;
		}

		.base-buttons {
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(4, 1fr);
		}

		.extra-buttons {
			grid-auto-flow: column;
			grid-auto-columns: 60px;
			grid-template-rows: repeat(4, 1fr);
		}
	}
}
