@import url('../../colors.css');

.button-container {
	position: relative;

	.button-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		position: absolute;
		bottom: calc(100% + 4px);
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		pointer-events: none;
		width: 220px;
		padding: 16px 20px;
		background: var(--dark);
		border-radius: 4px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

		.button-name {
			font-size: 16pt;
			font-weight: bold;
			text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
			color: var(--yellow);
		}

		.button-description {
			text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		}
	}

	&:hover .button-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		filter: opacity(1);
	}

	.calculator-button {
		font-family: 'Asap Condensed', sans-serif;
		font-weight: 500;
		width: 60px;
		height: 60px;
		border-radius: 4px;
		font-size: clamp(0.75rem, 16vw, 1.6rem);
	}

	.target-operator {
		background: var(--red);
	}

	.operator {
		background: var(--orange);
	}

	.uses {
		position: absolute;
		top: -1px;
		right: 2px;
		color: var(--yellow);
		text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.6), 1px -1px 0 rgba(0, 0, 0, 0.6), -1px 1px 0 rgba(0, 0, 0, 0.6), 1px 1px 0 rgba(0, 0, 0, 0.6);

		&.just-increased {
			animation: bump 0.5s ease forwards;
		}
	}
}

@keyframes bump {
	0% {
		transform: scale(1);
		box-shadow: none;
	}

	50% {
		transform: scale(1.5);

		box-shadow: 0 0 8px 3px var(--yellow);
	}

	100% {
		transform: scale(1);
		box-shadow: none;
	}
}
