.bookmark-section {
	min-width: 200px;

	.title-area {
		display: flex;
		flex-direction: row;
		align-items: end;

		.collection-name {
			color: var(--purple);
			font-size: 18pt;
			font-weight: 600;
		}

		.edit-bookmark {
			background: transparent;
			color: transparent;
			border: none;
			padding: 8px 12px 6px;
		}

		&:hover>.edit-bookmark {
			color: var(--dark);
		}
	}

	ul {
		padding: 0;
		margin: 0;
		margin-top: 8px;
	}

	li {
		list-style: none;

		a {
			color: var(--light);
		}

		a:hover {
			color: var(--orange);
		}
	}
}
