@import url(../../colors.css);

.crew-list {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.crew-table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	table-layout: fixed;

	th,
	td {
		padding: 8px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.table-header {
		font-size: 1.5rem;
		font-weight: 700;
		font-style: italic;
		color: var(--light);
		cursor: pointer;

		.header-text-container {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
		}
	}

	th:nth-child(2),
	td:nth-child(2) {
		width: 20px;
		white-space: nowrap;
	}

	th:nth-child(3),
	td:nth-child(3) {
		width: calc(32px * 3 + 4px * 2);
		white-space: nowrap;
	}

	.table-row {
		&:nth-child(odd) {
			background-color: var(--darker);
		}

		td:nth-child(1) {
			padding-left: 16px;
			font-size: 1.25rem;
		}

		.actions {
			display: flex;
			gap: 4px;

			button {
				width: 32px;
				height: 32px;

				svg {
					width: 20px;
					height: 20px;
				}
			}

			.delete {
				background-color: var(--red);
				color: var(--light);
			}
		}
	}
}

.button-group {
	margin-top: 12px;
	display: flex;
	flex-direction: row;
	gap: 8px;

	button {
		width: 160px;
	}

	.id-input-container {
		display: flex;
		flex-direction: row;
		gap: 4px;

		input {
			padding-left: 12px;
			outline: none;
			border: 2px solid transparent;
			border-radius: 32px;
			background-color: var(--darker);
			color: var(--light);

			&:focus {
				border: 2px solid var(--light-muted);
			}
		}

		button {
			width: 36px;
		}
	}
}
