@import url(../../colors.css);

.boat-container {
	text-align: center;

	.boat {
		display: flex;
		flex-direction: row;
		gap: 4px;

		.paddlers {
			display: flex;
			flex-direction: column;
			gap: 4px;
		}

		.center {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.boat-stats {
			display: flex;
			flex-direction: column;
			gap: 4px;

			.value {
				font-weight: bold;
				font-size: 1.5rem;
			}
		}
	}
}
