.play-area {
	width: calc(100vw - 16px);
	height: calc(100vh - 16px);
	background: #0f7173;
	padding: 8px;
}

.top-area {
	display: flex;
	flex-direction: row;
	padding-bottom: 8px;
}

.foundations {
	width: 60%;
}

.stock {
	display: flex;
	flex-direction: row-reverse;
	width: 40%;
}

.tableau {
	display: flex;
	flex-direction: row;
	gap: 8px;
}
