.play-area {
	width: calc(100vw - 16px);
	height: calc(100vh - 16px);
	padding: 8px;
}

.top-area {
	/* 100px cards * 7 rows + (8px gap * 6 gaps) */
	width: calc(100px * 7 + (8px * 6));
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 8px;
}

.stock {
	display: flex;
	flex-direction: row-reverse;
}

.tableau {
	display: flex;
	flex-direction: row;
	gap: 8px;
}
