@import url('../../colors.css');

.shop-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;

	.shop-money {
		color: var(--green);
	}

	.debt {
		color: var(--red);
	}

	.cheats {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.shop-items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
		width: 100%;

		.shop-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 4px;

			.price-tag {
				color: var(--green);
			}

			.disabled {
				color: var(--red);
			}
		}
	}

	.buttons {
		display: flex;
		justify-content: center;
		flex-direction: row;
		gap: 60px;
	}
}
