.button-container {
	position: relative;

	.calculator-button {
		width: 60px;
		height: 60px;
		border-radius: 4px;
		border: none;
		font-size: 28pt;
		filter: brightness(1);

		&:hover {
			cursor: pointer;
			filter: brightness(1.2);
		}

		&:disabled {
			filter: brightness(0.9);

			&:hover {
				cursor: default;
			}
		}
	}

	.operator {
		background: darkred;
	}

	.uses {
		position: absolute;
		top: -1px;
		right: 2px;
		color: yellow;
		text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.6), 1px -1px 0 rgba(0, 0, 0, 0.6), -1px 1px 0 rgba(0, 0, 0, 0.6), 1px 1px 0 rgba(0, 0, 0, 0.6);
	}
}
