.food-now {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

	.criteria {
		display: flex;
		flex-direction: column;

		.criteria-section {
			height: calc(100vh - 80px);
			padding: 40px 8px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.section-button {
				flex: 0 0 auto;
				width: auto;
			}

			.prev {
				align-self: flex-start;
			}

			.next {
				align-self: flex-end;
			}

			.check-open {
				padding-top: 20px;
				display: flex;
				flex-direction: row;
				gap: 4px;
			}
		}

		.sliders-body {
			display: flex;
			flex-direction: column;
			gap: 20px;

			.sliders-section-container {
				display: flex;
				flex-direction: column;

				.title {
					padding-bottom: 16px;
				}

				.body {
					display: flex;
					flex-direction: column;
					gap: 8px;
					padding: 0 48px;
				}
			}
		}
	}

	.ext-link-button {
		background: #eee;
		text-decoration: none;
		color: black;
		font-weight: normal;
		padding: 8px 16px;
		display: inline-flex;
		align-items: center;
		gap: 8px;
		border-radius: 24px;
		cursor: pointer;

		&:hover {
			filter: brightness(0.9);
		}

		img {
			height: 16pt;
		}
	}
}
