@import url("./colors.css");

:root {
	font-synthesis: none;
	font-optical-sizing: auto;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body,
p,
h1,
h2,
h3 {
	margin: 0;
	overflow: hidden;
	color: var(--light);
}

p {
	font-weight: normal;
	color: var(--light);
}
