@import url("./colors.css");

:root {
	font-synthesis: none;
	font-optical-sizing: auto;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: var(--darkest);
	color: var(--light);

	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body,
p,
h1,
h2 {
	margin: 0;
	overflow: hidden;
}

p {
	font-weight: normal;
}
