@import url(../../colors.css);

.new-paddler-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 1;
	transition: all 0.1s ease-out;

	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: auto;

	.new-paddler-modal {
		border-radius: 8px;
		background-color: var(--darker);
		padding: 24px 48px;
		display: flex;
		flex-direction: column;
		gap: 12px;
		z-index: 100;
		position: relative;

		section {
			display: flex;
			gap: 8px;
			align-items: center;
			justify-content: space-between;
		}

		@media (max-width: 600px) {
			padding: 24px 8px;

			section {
				flex-direction: column;
				align-items: stretch;
				justify-content: center;
			}
		}

		input {
			background-color: var(--light);
			color: var(--darkest);
			outline: 0;
			border: 2px solid transparent;
			border-radius: 24px;
			padding: 4px 12px;
			width: calc(80px - 28px);

			&[type="number"] {
				text-align: right;
			}
		}

		#name {
			width: 200px;
		}

		select {
			color: var(--darkest);
			background-color: var(--light);
			outline: 0;
			border: 0;
			border-radius: 24px;
			padding: 4px 12px;
			height: 40.5px;
			width: 80px;
		}

		.button-group {
			display: flex;
			flex-direction: row;
			gap: 12px;
			width: 332px;
			padding-top: 12px;

			button {
				flex: 1;
			}
		}

		.close-button {
			position: absolute;
			top: 12px;
			right: 14px;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background: transparent;
			color: var(--white);

			&:hover {
				color: var(--red);
			}
		}
	}
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.hidden {
	opacity: 0;
	pointer-events: none;
}
