@import url("./colors.css");

.active-crews {
	margin-top: 48px;
	display: flex;
	flex-direction: column;
	gap: 48px;
}

button {
	height: 36px;
	border: none;
	border-radius: 32px;
	cursor: pointer;

	&:disabled {
		cursor: not-allowed;
	}
}
