@import url("./colors.css");

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;

  .toggle-theme {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.active-crews {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.crew-dropdown-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

button {
  height: 36px;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  transition: all 0.1s ease-out;

  &:active:not(:disabled) {
    transform: scale(0.97);
  }

  &:hover:not(:disabled) {
    filter: brightness(0.9);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
