@import url("./colors.css");

:root {
	font-synthesis: none;
	font-optical-sizing: auto;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: var(--darkest);
	color: var(--light);

	max-width: 1000px;
	margin: 20px auto;
	text-align: center;

	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	box-sizing: border-box;
}

body,
p,
h1,
h2,
h3 {
	margin: 0;
}

button {
	cursor: pointer;
}

.title {
	margin-bottom: 12px;
}
