@import url(/src/assets/css/Colors.css);

.frame {
	width: 180px;
	height: 60px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	background-color: var(--darkest);
	border: 1px solid var(--orange);
	display: flex;
	align-items: center;
	justify-content: center;
}

.button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 180px;
	min-height: 60px;
	text-transform: uppercase;
	text-decoration: none;
	background-color: var(--darkest);
	border: 1px solid var(--orange);
	border-radius: 8px;
	color: var(--orange);

	&:hover {
		background-color: var(--orange);
		color: var(--darkest);
	}
}
