@import url(/src/assets/css/Colors.css);

#root {
  --dot-size: 50px;

  width: 100vw;
  height: 100vh;
  background: var(--darkest);
  background-image: radial-gradient(var(--darker) 1%, transparent 8%);
  background-position: 0 0, var(--dot-size) var(--dot-size);
  background-size: var(--dot-size) var(--dot-size);
}

h1, h2, p {
  margin: 0;
  color: var(--light);
  font-family: 'Space Mono', monospace;
}

#main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  color: var(--light);
}

.subtitle {
  color: var(--dark);
}

.buttons {
  display: flex;
  gap: 8px;
}

@media only screen and (max-width: 600px) {
  .buttons {
    flex-direction: column;
  }
}
