.stock-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.stock-pile {
	display: flex;
	flex-direction: row-reverse;
	gap: 8px;
}

.stock-card {
	position: relative;
}

.stock-count {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	font-size: 48pt;
	font-family: "Oswald", sans-serif;
	color: #272932;
	user-select: none;
}
