.game {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 60px 0;
	gap: 20px;
	width: clamp(320px, 400px, 400px);

	.info {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 100%;

		.seed {
			display: flex;
			align-items: center;
			gap: 4px;

			.seed-input {
				background: #444;
				color: #eee;
				font-size: 14pt;
				border-radius: 4px;
				padding: 4px 8px;

				&:focus {
					outline: none;
				}
			}

			.seed-button {
				padding: 6px 8px;
				display: inline-flex;
				background: #eee;

				&:hover {
					cursor: pointer;
					background: #ddd;
				}
			}
		}

		.spaced-out {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			width: 100%;
		}

		.money-text {
			color: lime;
			font-size: 18pt;
		}

		.debt {
			color: red;
		}

		.round {
			display: flex;
			flex-direction: column;
			gap: 10px;

			.round-text {
				color: yellow;
				font-size: 18pt;
			}
		}

		.target-text {
			color: red;
			font-size: 28pt;
		}

		.turn-text {
			color: red;
			font-size: 24pt;
		}

		.boss {
			display: flex;
			flex-direction: column;
			gap: 4px;

			.boss-name {
				color: red;
				font-weight: bold;
			}

			.banned-number {
				color: red;
				font-weight: bold;
			}
		}

		.cheats {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}
	}
}

.wide-calc {
	align-items: start;
}
