.home {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;

	.main {
		display: flex;
		flex-direction: column;
		align-items: center;
		line-height: 1.0;

		.title {
			font-family: 'Jetbrains Mono', monospace;
			font-size: 60pt;
		}

		.subtitle {
			color: #888;
			font-size: 24pt;
		}

		@media (max-width: 600px) and (orientation: portrait) {
			.title {
				font-size: 40pt;
			}
		}
	}

	@keyframes pulseOpacity {

		0%,
		100% {
			opacity: 1;
		}

		50% {
			opacity: 0.5;
		}
	}

	.tap {
		font-size: 16pt;
		animation: pulseOpacity 2s ease-in-out infinite;
	}

}
